.DS_Store
node_modules
# /dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# CREARE FILE IN GLOBAL
# vue.config.js

# E AGGIUNGERE
# module.exports = {
# 	publicPath: './'
# };

# IN GIT IGNORE ELIMINARE /DIST

# E DOPODICHE FARE X VEDERE LA DIST
# npm run build

# PUSHARE
